{% extends "base.html" %}

{% load i18n %}
{% block content %}
<section>
    <div id="wrapper">
        <form role="form"  method="post" action="{% url 'passwordRecover' %}">
            {% csrf_token %}
            {{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> {{ form.email }} <input type="submit" value="{% trans 'Reset my password' %}" /></p>
            <p>*Password will sent to the email you have provide </p>

        </form>
    </div>
</section>
{% endblock %}