
  {% extends "base.html" %}

{% block content %}
 <section>

     <div id="wrapper">
     <h1>Contact Me</h1>




       <div class="container">


        <a href="https://www.facebook.com/Ashish.Verma7690"><img src="http://res.cloudinary.com/kdjohar/image/upload/v1430312635/facebook_kyyfrd.png"></a>
        <a href="https://plus.google.com/"><img src="http://res.cloudinary.com/kdjohar/image/upload/v1430312634/google_eewyhi.png"></a>



       </div>
         </div>
     </section>
    <!--/ contact us -->
  {% endblock %}