{% extends "base.html" %}

{% block content %}
<section>
    <div id="wrapper">

                            <form role="form"  method="post" action="{% url 'passwordRecover' %}">
                                 {% csrf_token %}

                                <p>

                                    <input id="username" name="username" required="required" type="text" placeholder="myusername"/>
                                </p>

                                <p class="button">
                                    <input type="submit" value="Recover" />
								</p>
                                <p class="button">
                                    <a href="{% url 'userLogin' %}">Login Here</a>


								</p>
                                <p>*Password will sent to the email you have provide </p>

                            </form>
                        </div>
</section>
{% endblock %}