

{% extends "base.html" %}

{% block content %}
<section>
    <div id="wrapper">

        <form  role="form"  method="post" action="{% url 'userSignup' %}">
            {% csrf_token %}
               <h1>Sign Up</h1>


                <p>
                    <label>Code </label>
                    <input id="code" name="code" required="required" type="text" placeholder="verifiation Code sent to your email"/>
                </p>


                <p><label>Email Id </label>
                    <input id="email_id" name="email_id" required="required" type="email" placeholder="youare@awesome.com" />
                </p>

                <p><label>Password </label>
                    <input id="password" name="password" required="required" type="password" placeholder="P@ssW0rd" />
                </p>
                <p><label>Confirm Password </label>
                    <input id="confirm_password" name="confirm_password" required="required" type="password" placeholder="P@ssW0rd" />
                </p>



               <p class="button">
                   <input type="submit" value="SignUp"  />
               </p>

                  Already a member?
                    <a href="{% url 'userLogin' %}">Login Here</a>


        </form>
    </div>
</section>
{% endblock %}